* {
    -fx-primary : #F2F2F2;
    -fx-secondary : #000000;
    -fx-primarytext : #B2B2B2;
    -fx-button-hover: #C2C2C2;
    -fx-blue: #106EBE;
    -fx-red: #F03442;
    -fx-darkred: #E81123;
    -fx-color-1:#1976D2;
    -fx-black: black;
    -fx-white: white;
    -fx-dark: #9C9C9C;
}

.buttonhome {
    -fx-background-color: transparent;
}
.buttonhome:hover {
    -fx-background-color: black;
    -fx-opacity: 0.5;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: white;
}
.buttonhome:pressed {
    -fx-background-color: black;
    -fx-opacity: 0.8;
}
.anchorpanebutton {
    -fx-border-width: 2 2 2 2;
}
.anchorpanebutton:hover {
    -fx-border-width: 2 2 2 2;
    -fx-border-color: black;
}
.labelhomelayoutbutton {
    -fx-font-color: -fx-white;
    -fx-font-size: 22;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}