* {
    -fx-primary : #171717;
    -fx-secondary : #FFFFFF;
    -fx-primarytext : #B2B2B2;
    -fx-button-hover: #696969;
    -fx-blue: #106EBE;
    -fx-red: #F03442;
    -fx-darkred: #E81123;
    -fx-color-1:#1976D2;
    -fx-black: white;
    -fx-white: black;
    -fx-dark: #9C9C9C;
    -fx-grey: #D5D4D0;
    -fx-descriptionHbox: #171717;
}

.root{
    -fx-background-color: -fx-primary;
    -fx-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

.label {
    -fx-text-fill: -fx-black;
}

/*Setting styling from here*/
.text36 {
    -fx-fill: -fx-black;
    -fx-font-size: 36;
}
.text20 {
    -fx-fill: -fx-black;
    -fx-font-size: 20;
}
.radio-button {
    -fx-text-fill: -fx-black;
}
.radio-button .radio  {
    -fx-background-color: -fx-white;
    -fx-background-insets: 0;
    -fx-border-width: 0.5;
    -fx-border-radius: 100%;
    -fx-border-color: -fx-blue;
}
.radio-button:selected .radio .dot {
    -fx-background-color: -fx-blue;
    -fx-background-insets: 0;
}

/*Home Scene styling from here*/
/*button*/
.temppane {
    -fx-background-color: black;
    -fx-opacity: 0.5;
}
.iconsvg {
    -fx-fill: -fx-black;
}
.buttonclose {
    -fx-background-color : transparent;
    -fx-background-radius :  0;
}
.buttonclose:hover {
    -fx-background-color : -fx-darkred;
    -fx-background-radius :  0;
}
.buttonclose:pressed {
    -fx-background-color : -fx-red;
    -fx-background-radius :  0;
}
.buttonmax-minmimize {
    -fx-background-color : transparent;
    -fx-background-radius :  0;
}
.buttonmax-minmimize:hover {
    -fx-background-color : -fx-button-hover;
    -fx-background-radius :  0;
}
.buttonmax-minmimize:pressed {
    -fx-background-color : -fx-blue;
    -fx-background-radius :  0;
}
.button1 {
    -fx-background-color : -fx-primary;
    -fx-background-radius :  0;
    -fx-text-fill: -fx-secondary;
}
.button1:hover {
    -fx-background-color : -fx-button-hover;
    -fx-background-radius :  0;
    -fx-text-fill: -fx-secondary;
}
.button1:pressed {
    -fx-background-color : -fx-primary;
    -fx-background-radius :  0;
    -fx-text-fill: -fx-secondary;
}
.button1:selected {
    -fx-border-color: -fx-blue;
    -fx-border-width: 0 0 0 6;
}

.button2 {
    -fx-background-color : -fx-primary;
    -fx-background-radius :  0;
}
.button2:hover {
    -fx-background-color : -fx-button-hover;
    -fx-background-radius :  0;
}
.button2:pressed {
    -fx-background-color : -fx-primary;
    -fx-background-radius :  0;
}

.button3 {
    -fx-background-color : -fx-primary;
    -fx-background-radius :  0;
    -fx-text-fill: -fx-black;
    -fx-font-size: 18;
}
.button3:hover {
    -fx-font-weight : bold;
    -fx-background-radius :  0;
}
.button3:pressed {
    -fx-background-color : -fx-button-hover;
    -fx-background-radius :  0;
}
.button3:selected {
    -fx-font-weight : bold;
    -fx-border-color: -fx-blue;
    -fx-border-width: 0 0 3 0;
    -fx-background-radius :  0;
}

.buttonsearch {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-color : #282828;
    -fx-background-radius :  100%;
}
.buttonsearch:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-color : -fx-blue;
    -fx-background-radius :  100%;
}
.buttonsearch:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-color : #282828;
    -fx-background-radius :  100%;
}

.buttonarr {
    -fx-background-color : -fx-dark;
    -fx-background-radius :  0;
}
.buttonarr:hover {
    -fx-background-color : -fx-button-hover;
    -fx-background-radius :  0;
}
.buttonarr:pressed {
    -fx-background-color : black;
    -fx-background-radius :  0;
}

/*text-field*/
.text-field {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
    -fx-background-color: -fx-white;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}
.text-field:focused {
    -fx-background-color: -fx-white;
    -fx-text-fill: white;
}

/*scroll pane*/
.scroll-pane {
    -fx-background-color: -fx-primary;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-pref-width: 8;
}

.scroll-bar:pressed, .scroll-bar:hover {
    -fx-pref-width: 12;
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: #E8E8E8;
    -fx-border-color: #E8E8E8;
    -fx-opacity: 0;
}
.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #BABABA;
    -fx-background-radius: 2em;
}
.scroll-bar:hover:horizontal .thumb, .scroll-bar:hover:vertical .thumb {
    -fx-background-color: #8B8B8B;
    -fx-background-radius: 2em;
}
.scroll-bar:pressed:horizontal .thumb, .scroll-bar:pressed:vertical .thumb {
    -fx-background-color: #5D5D5D;
    -fx-background-radius: 2em;
}
.scroll-bar:active:horizontal .thumb, .scroll-bar:pressed:vertical .thumb {
    -fx-background-color: #5D5D5D;
    -fx-background-radius: 2em;
}
.scroll-pane .corner {
    -fx-background-color: transparent;
}

/*pagination*/
/* Remove spacing */
.pagination {
    -fx-background-color: -fx-primary;
}
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}
/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: #1F1F1F;
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-text-fill: white;
}
/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: #696969;
}
/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: -fx-blue;
    -fx-text-fill: white;
}
/*hide page information*/
.pagination {
    -fx-page-information-visible: false;
}

/*Home layout start from here*/
.tooltip {
    -fx-background-color: -fx-primary;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: -fx-black;
    -fx-text-fill: -fx-black;
}
.stackpane {
    -fx-background-color: -fx-primary;
}
.buttonhome {
    -fx-background-color: black;
    -fx-opacity: 0.3;
}
.buttonhome:hover {
    -fx-background-color: black;
    -fx-opacity: 0.3;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: -fx-white;
}
.buttonhome:pressed {
    -fx-background-color: black;
    -fx-opacity: 0.2;
}

.anchorpanebutton {
    -fx-border-width: 2 2 2 2;
    -fx-boder-color: -fx-black;
}
.anchorpanebutton:hover {
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #9E9E9E;
}
.anchorpanebuttonvertical {
    -fx-background-color: #1F1F1F;
    -fx-border-width: 2 2 2 2;
    -fx-boder-color: -fx-black;
}
.anchorpanebuttonvertical:hover {
    -fx-background-color: #1F1F1F;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #9E9E9E;
}
.buttonhomevertical {
    -fx-background-color: transparent;
}
.buttonhomevertical:hover {
    -fx-background-color: -fx-black;
    -fx-opacity: 0.1;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: -fx-white;
}
.buttonhomevertical:pressed {
    -fx-background-color: -fx-black;
    -fx-opacity: 0.2;
}
.textSource, .textSource:hover, .textSource:pressed {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.textSourceVertical, .textSourceVertical:hover, .textSourceVertical:pressed {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-fill: -fx-black;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.textTitleSmall, .textTitleSmall:hover, .textTitleSmall:pressed {
    -fx-font-family: Arial;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.textTitleBig, .textTitleBig:hover, .textTitleBig:pressed {
    -fx-font-family: Arial;
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.textTitleVertical, .textTitleVertical:hover, .textTitleVertical:pressed {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-fill: -fx-black;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

/*Display layout start from here*/
.stackpane1 {
    -fx-background-color: #1F1F1F;
}
.stackpane2 {
    -fx-background-color: #242424;
    -fx-effect: dropshadow(three-pass-box, black, 15, 0, 0, 0);
}
.textcategory {
    -fx-font-size: 46;
    -fx-text-alignment: left;
    -fx-fill: -fx-black;
}
.textfulldate {
    -fx-font-size: 18;
    -fx-text-alignment: right;
    -fx-fill: -fx-black;
}
.texttitle {
    -fx-font-size: 36;
    -fx-font-weight: bold;
    -fx-text-alignment: justify;
    -fx-fill: -fx-black;
}
.textdescription {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-alignment: justify;
    -fx-fill: -fx-black;
}
.textimagecap {
    -fx-font-size: 14;
    -fx-text-alignment: right;
    -fx-fill: -fx-black;
}
.textbold {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-alignment: justify;
    -fx-fill: -fx-black;
}
.textnormal {
    -fx-font-size: 18;
    -fx-text-alignment: justify;
    -fx-fill: -fx-black;
}
.textauthor {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-alignment: right;
    -fx-fill: -fx-black;
}
.textReadTheOriginalPost {
    -fx-font-size: 18;
    -fx-text-alignment: left;
    -fx-fill: -fx-black;
}
.textflowright {
    -fx-text-alignment: right;
}
.textflowleft {
    -fx-text-alignment: left;
}
.textflowjustify {
    -fx-text-alignment: justify;
}
.textflowcenter {
    -fx-text-alignment: center;
}
.textflowcenteritalic {
    -fx-text-alignment: center;
    -fx-font-style: italic;
    -fx-font-size: 18;
}
.texthyperlink {
    -fx-font-size: 18;
    -fx-padding: 0;
    -fx-wrap-text: true;
}
.descriptionHbox {
    -fx-background-color: -fx-descriptionHbox;
    -fx-padding: 15;
}
.previousAndNextArticleButton {
    -fx-background-color : #3B3B3B;
    -fx-background-radius :  0;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.previousAndNextArticleButton:hover {
    -fx-background-color : -fx-blue;
    -fx-background-radius :  0;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}
.previousAndNextArticleButton:pressed {
    -fx-background-color : #3B3B3B;
    -fx-background-radius :  0;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}