.label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.text36 {
    -fx-fill: -fx-black;
    -fx-font-size: 48;
}
.text20 {
    -fx-fill: -fx-black;
    -fx-font-size: 29;
}

.button3 {
    -fx-font-size: 20;
}

.textSource, .textSource:hover, .textSource:pressed {
    -fx-font-size: 16;
}
.textSourceVertical, .textSourceVertical:hover, .textSourceVertical:pressed {
    -fx-font-size: 16;
}
.textTitleSmall, .textTitleSmall:hover, .textTitleSmall:pressed {
    -fx-font-size: 22;
}
.textTitleBig, .textTitleBig:hover, .textTitleBig:pressed {
    -fx-font-size: 30;
}
.textTitleVertical, .textTitleVertical:hover, .textTitleVertical:pressed {
    -fx-font-size: 20;
}

.textcategory {
    -fx-font-size: 52;
}
.textfulldate {
    -fx-font-size: 22;
}
.texttitle {
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-alignment: justify;
    -fx-fill: -fx-black;
}
.textdescription {
    -fx-font-size: 26;
}
.textimagecap {
    -fx-font-size: 22;
}
.textbold {
    -fx-font-size: 26;
}
.textnormal {
    -fx-font-size: 26;
}
.textauthor {
    -fx-font-size: 32;
}
.textReadTheOriginalPost {
    -fx-font-size: 26;
}
.textflowcenteritalic {
    -fx-font-size: 26;
}
.texthyperlink {
    -fx-font-size: 26;
}